@font-face {
  font-family: "Bold";
  src: url("fonts/Montserrat-Bold.ttf");
}

$Bold: "Bold";

@font-face {
  font-family: "Regular";
  src: url("fonts/NerkoOne-Regular.ttf");
}

$Regular: "Regular";

@font-face {
  font-family: "Roboto";
  src: url("fonts/RobotoSlab-Regular.ttf");
}

$Roboto: "Roboto";